@import "partial/_reset.scss";
@import "partial/_common.scss";

@charset "utf-8";
body{text-align: left;}

.btnList{
  text-align: center;
  margin-top: 10px;
  a{
    display: inline-block;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    text-shadow: -1px -1px 1px #666;
    background: #0058ff;
  }
}

header{
  background: #0052d4;
  color: #fff;
  text-align: left;
  padding: 10px;
  font-size: 1.5rem;
}
.map{
  width: 800px;
  height: 500px;
  margin: 0 auto;
  background: url(../img/spinner.gif) no-repeat center center;
  background-size:64px 64px;
}

table{
  &.shopData{
    width: 80%;
    margin:20px auto 50px auto;
    border-top: 1px solid #CCC;
    border-left: 1px solid #CCC;
    border-spacing:0px;
    tr{
      th,
      td{
        border-bottom: 1px solid #CCC;
        border-right: 1px solid #CCC;
        padding: 7px;
      }
      th{
        background: #E6EAFF;
      }
      td{
        text-align: left;
      }
    }
  }

}


.button {
  font-size:20px;
  text-align: center;
  display: block;
  width: 300px;
  margin: auto;
  padding: 15px 0px;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 300;
  margin-bottom: 40px;
  overflow: hidden;
  position: relative;
  border-radius:3px;
  transition:box-shadow 0.3s;
  -webkit-box-shadow: 0px 5px 8px rgba(0,0,0,0.2);

  span{
    display: block;
    border-radius:50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    margin-top: -25px;
    position:absolute;
    -webkit-animation: effect-animation 2s;
  }

  &:hover{
    -webkit-box-shadow: 0px 5px 15px rgba(0,0,0,0.6);
  }
}

.button-black{
  background: #000;
  color: #fff;
  span{
    background: #fff;
    left:50%;
    top:50%;
  }
}


@-webkit-keyframes effect-animation {
  from {
    transform: scale(1);
    opacity: 0.4;
  }
  to {
    transform: scale(100);
    opacity: 0;
  }
}