@charset 'UTF-8';
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, dialog, figcaption, figure, footer, header, hgroup, menu, command, nav, section, summary, time, mark, embed, audio, video, source, progress, meter{
    background : transparent;
    border : 0 none;
    font-size : 100%;
    margin : 0;
    padding : 0;
    border : 0;
    outline : 0;
    vertical-align : top;
}

fieldset, form, label, legend, keygen, input, output, textarea, datalist{
    font-size : 100%;
    margin : 0;
    padding : 0;
    vertical-align : top;
}

ol, ul, li{
    list-style : none;
}

blockquote, q{
    quotes : none;
}

table, table th, table td{
    padding : 0;
    border : none;
    border-collapse : collapse;
}

img, embed{
    vertical-align : top;
}

/* 

common css 2014.05.13 

*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, dialog, figcaption, figure, footer, header, hgroup, menu, command, nav, section, summary, time, mark, embed, audio, video, source, progress, meter, fieldset, form, label, legend, keygen, input, output, textarea, datalist{
    /*high brid*/
            touch-callout : none;
    -webkit-touch-callout : none;
    /*delete long tap link popup*/
            box-sizing : border-box;
    -webkit-box-sizing : border-box;
       -moz-box-sizing : border-box;
         -o-box-sizing : border-box;
        -ms-box-sizing : border-box;
    /*Android a tag 以外も効いてしまうので*/
            tap-highlight-color : transparent;
    -webkit-tap-highlight-color : transparent;
    /* default highlight color transparent */
}

html{
    font-size : 13px;
}

body{
    color : #222;
    font-family : 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    /*font-size:13px;*/
    line-height : 1.5;
    -webkit-text-size-adjust : 100%;
    text-align : center;
}

a{
    text-decoration : none;
    /*high brid*/
    background-color : transparent;
            tap-highlight-color : transparent;
    -webkit-tap-highlight-color : transparent;
    /* default highlight color transparent */
}

a:link, a:visited{
    color : #222;
}

a:hover, a:active{
    color : #222;
}

/*high brid*/
a.tccolor.touchstyle{
    background-color : #fdc462;
}

/*タップ*/
a.tccolor.notouchstyle{
    background-color : transparent;
}

/*離す*/
input[type=text]{
    -webkit-user-select : auto;
}

/* utility */
.tCenter{
    text-align : center;
}

.tLeft{
    text-align : left;
}

.tRight{
    text-align : right;
}

/* clearfix */
.clearfix:after{
    content : '';
    display : block;
    clear : both;
}

body{
    text-align : left;
}

.btnList{
    text-align : center;
    margin-top : 10px;
}
.btnList a{
    display : inline-block;
    border-radius : 5px;
    padding : 10px;
    color : #fff;
    font-weight : bold;
    text-shadow : -1px -1px 1px #666;
    background : #0058ff;
}

header{
    background : #0052d4;
    color : #fff;
    text-align : left;
    padding : 10px;
    font-size : 1.5rem;
}

.map{
    width : 800px;
    height : 500px;
    margin : 0 auto;
    background : url(../img/spinner.gif) no-repeat center center;
    background-size : 64px 64px;
}

table.shopData{
    width : 80%;
    margin : 20px auto 50px auto;
    border-top : 1px solid #ccc;
    border-left : 1px solid #ccc;
    border-spacing : 0;
}
table.shopData tr th, table.shopData tr td{
    border-bottom : 1px solid #ccc;
    border-right : 1px solid #ccc;
    padding : 7px;
}
table.shopData tr th{
    background : #e6eaff;
}
table.shopData tr td{
    text-align : left;
}

.button{
    font-size : 20px;
    text-align : center;
    display : block;
    width : 300px;
    margin : auto;
    padding : 15px 0;
    text-decoration : none;
    letter-spacing : 2px;
    font-weight : 300;
    margin-bottom : 40px;
    overflow : hidden;
    position : relative;
    border-radius : 3px;
    -webkit-transition : box-shadow 0.3s;
            transition : box-shadow 0.3s;
    -webkit-box-shadow : 0 5px 8px rgba(0, 0, 0, 0.2);
}
.button span{
    display : block;
    border-radius : 50%;
    width : 50px;
    height : 50px;
    margin-left : -25px;
    margin-top : -25px;
    position : absolute;
    -webkit-animation : effect-animation 2s;
}
.button:hover{
    -webkit-box-shadow : 0 5px 15px rgba(0, 0, 0, 0.6);
}

.button-black{
    background : #000;
    color : #fff;
}
.button-black span{
    background : #fff;
    left : 50%;
    top : 50%;
}

@-webkit-keyframes effect-animation{
    from{
        -webkit-transform : scale(1);
                transform : scale(1);
        opacity : 0.4;
    }
    to{
        -webkit-transform : scale(100);
                transform : scale(100);
        opacity : 0;
    }
}
/*# sourceMappingURL=index.css.map */
